<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!--<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}"> -->
    <link rel= "stylesheet" type= "text/css" href= "static/style.css">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <script src="{{ url_for('static',filename='script.js') }}"></script>
    <title>{% block title %} {% endblock %}</title>
  </head>
  <body>

    <header id = "navbar">
      <li class="left-nav"><a href="/">SmartTrade</a></li>
      <li class="left-nav"><a href="/">Home</a></li>
      <li class="left-nav"><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
      <li class="left-nav"><a href="{{ url_for('PricePredictHome') }}">PricePredict</a></li>
    </header>
    
    <div class="maindiv">
    {% block content %}
    {% endblock %}
    </div>

   </body>
</html>
