{% extends 'layout.html'%}

{% block title %}
SmartTrade
{% endblock %}

{% block content %}

  <head>
  </head>
  <body>
    <h1 style="color: lightblue;" class="title">PricePredict</h1>

    <p>
    Enter a stock symbol and your desired forecast period.
    </p>

    <div>
    <form action="/pricepredict" method="post">
      <input type="text" name="sym" placeholder = "Enter Stock Symbol" size=50></input>
      <br>
      <input type="text" name="forecast_period" size=50 placeholder = "How many days ahead would you like to forecast?"></input>
      <input type="submit"></input>
    </div>

    {% if graph != None %}
      <p>Stock Symbol: {{symbol}}</p>
      <p>Forecast Period: {{forecast_period}}</p>
      <img class ="graph" src={{graph}} alt="chart"/>
      <p>Price Predict says: {{decision}}</p>

    {% if showButton %}
    <form action="/pricepredict" method="post">
      <input name="runAlgorithm" type="text" value="True" hidden=True></input>
       <input type="text" name="sym" value={{symbol}} hidden=True></input>
      <br>
      <input type="text" name="forecast_period" value={{forecast_period}} hidden=True></input>
      <input value='Get PricePredict Advice' type="submit"></input>
    </form>
    {% endif %}
    {% endif %}






  </body>
{% endblock %}
